body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.adTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.adImage {
    width: 100%;
    height: auto;
    max-height: 400px; /* Максимална височина на снимката */
    object-fit: cover;
}

.adInfo {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

.backButton {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.backButton:hover {
    background-color: #2980b9;
}
