{% extends 'base.html' %}


{% block content %}
<div id="adDetailsPopup">
    <div id="adDetailsPopupContainer">
        <div class="closeAdDetailsPopupDiv">
            <a href="{{ url_for('user_page') }}" id="closeAdDetailsPopup">&times;</a>
        </div>
        <div class="left">
            <div class="inLeft" id="AdDescAndImage">
                <h2 id="showAdDescriptionHeading"><h1>{{ ad.title }}</h1></h2>
                <div id="showAdImage">        
                        <img src="{{ url_for('static', filename='addpictures/' + ad.photo1) }}" alt="Ad Image" class="ad-image">
                        <img src="{{ url_for('static', filename='addpictures/' + ad.photo3) }}" alt="Ad Image" class="ad-image">
                        <img src="{{ url_for('static', filename='addpictures/' + ad.photo2) }}" alt="Ad Image" class="ad-image">
                </div>
            </div>
            <div class="inLeft" class="showAdDescription">
                <p id="showAdDescriptionDesc">Описание: {{ ad.content }}</p>
            </div>
        </div>
        <div class="right">
            <div class="inRight">
                <div id="price"><p>Цена: {{ ad.item_price }} лв.</p></div>
                <div class="sellerInfo">
                    <h4>Контакт с продавача</h4>
                    <div id="sellerName">Име : {{ ad.contact_name }}</div>
                    <div id="sellerPhone">Телефон : {{ ad.phone }} </div>
                    <div id="addLocation">Местоположение : {{ ad.location }} </div>
                    <div id="devAction">Доставка : {{ ad.delivery_action }} </div>
                </div>
                <div class="sellerInfo">
                    {% if ad not in current_user.favorite_adds and current_user %}
                        {% if is_login %}
                        <form  method="post"  action="/save_add" >
                            <button id="save" name="save_addbtn" value="{{ad.id}}">Запази обявата</button>
                        </a>
                        {% endif %}
                    {% endif %}
                    {% if ad in current_user.favorite_adds %}
                    <div id="addLocation"><b>Обявата е запазена </b> !</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Вашият HTML файл (ad_details.html) -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детайли за обява</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_details.css') }}">
</head>
<body>
    <div class="container">
        <div class="ad-details">
            <h2 class="ad-title">{{ ad.title }}</h2>
            <p class="ad-info">{{ ad.content }}</p>
            <p class="ad-info">Цена: {{ ad.item_price }} лв</p>
            <!-- Добавете други информационни полета, които искате -->

            {% if ad.images %}
                <div class="image-gallery">
                    {% for image in ad.images %}
                        <img class="ad-image" src="{{ url_for('static', filename='addpictures/' + image.url) }}" alt="Снимка">
                    {% endfor %}
                </div>
            {% else %}
                <p>Няма налични снимки</p>
            {% endif %}
        </div>
    </div>
</body>
</html> -->
