{% extends 'base.html' %}


{% block content %}
<div id="adDetailsPopup">
    <div id="adDetailsPopupContainer">
        <div class="closeAdDetailsPopupDiv">
            {% if is_login %}
                <a href="{{ url_for('user_page') }}" id="closeAdDetailsPopup">&times;</a>
            {% else %}
                <a href="{{ url_for('home') }}" id="closeAdDetailsPopup">&times;</a>
            {% endif %}
        </div>
        <div class="left">
            <div class="inLeft" id="AdDescAndImage">
                <h2 id="showAdDescriptionHeading"><h1>{{ ad.title }}</h1></h2>
                <div id="showAdImage">        
                        <img src="{{ url_for('static', filename='addpictures/' + ad.photo1) }}" alt="Ad Image" class="ad-image">
                        <img src="{{ url_for('static', filename='addpictures/' + ad.photo3) }}" alt="Ad Image" class="ad-image">
                        <img src="{{ url_for('static', filename='addpictures/' + ad.photo2) }}" alt="Ad Image" class="ad-image">
                </div>
            </div>
            <div class="inLeft" class="showAdDescription">
                <p id="showAdDescriptionDesc">Описание: {{ ad.content }}</p>
            </div>
            <div class="inLeft" class="showAdDescription">
                {% if  ad.category_type == "Превозни стредства"  %}
                    <p>Година: {{ ad.year}}</p>
                    <p>Марка: {{ ad.vehicle_brand }}</p>
                {% endif %}
                {% if  ad.subcategory_type == "Автомобили"  %}
                    <p>Модел: {{ ad.model }}</p>
                    <p>Двигател: {{ ad.engine  }}</p>
                    <p>Трансмисия: {{ ad.transmission  }}</p>
                    <p>Купе: {{ ad.coupe  }}</p>
                {% endif %}
                {% if  ad.subcategory_type == "Мотоциклети"  %}
                    <p>Тип: {{ ad.motor_type }}</p>
                {% endif %}
            </div>
        </div>
        <div class="right">
            <div class="inRight">
                <div id="price"><p>Цена: {{ ad.item_price }} лв.</p></div>
                <div class="sellerInfo">
                    <h3><b>Контакт с продавача</b></h3>
                    <div id="sellerName">Име : {{ ad.contact_name }}</div>
                    <div id="sellerPhone">Телефон : {{ ad.phone }} </div>
                    <div id="addLocation">Местоположение : {{ ad.location }} </div>
                    <div id="devAction">Доставка се поема от: {{ ad.delivery_action }} </div>
                    <div id="condition">Състояние : {{ ad.delivery_action }} </div>
                </div>
                {% if is_login %}
                    <div class="sellerInfo">
                        {% if not is_save %}
                        <form  method="post"  action="/save_add" >
                            <button id="save" name="save_addbtn" value="{{ad.id}}">Запази обявата</button>
                        </form>
                        {% endif %}
                        
                        {% if is_save %}
                        <div ><b>Обявата е запазена </b> !</div>
                        {% endif %}

                        {% if is_current_user_add %}
                        <div ><b>Обявата има {{ad.saves}} запазвания !</b> </div>
                        <form method="POST" action="/add_delete/{{ ad.id }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button id="delete" name="delete_addbtn" value="{{ ad.id }}">Изтрий обявата</button>
                        </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}