{% extends 'base.html' %}


{% block content %}
<div id="adDetailsPopup">
    <div id="adDetailsPopupContainer">
        <div class="closeAdDetailsPopupDiv">
            {% if is_login %}
                <a href="{{ url_for('user_page') }}" id="closeAdDetailsPopup">&times;</a>
            {% else %}
                <a href="{{ url_for('home') }}" id="closeAdDetailsPopup">&times;</a>
            {% endif %}
        </div>
        <div class="left">
            <div class="inLeft" id="AdDescAndImage">
                <h2 id="showAdDescriptionHeading"><h1>{{ ad.title }}</h1></h2>
                <div id="showAdImage">        
                        <img src="{{ url_for('static', filename='addpictures/' + ad.photo1) }}" alt="Ad Image" class="ad-image">
                        <img src="{{ url_for('static', filename='addpictures/' + ad.photo3) }}" alt="Ad Image" class="ad-image">
                        <img src="{{ url_for('static', filename='addpictures/' + ad.photo2) }}" alt="Ad Image" class="ad-image">
                </div>
            </div>
            <div class="inLeft" class="showAdDescription">
                <p id="showAdDescriptionDesc">Описание: {{ ad.content }}</p>
            </div>
        </div>
        <div class="right">
            <div class="inRight">
                <div id="price"><p>Цена: {{ ad.item_price }} лв.</p></div>
                <div class="sellerInfo">
                    <h4>Контакт с продавача</h4>
                    <div id="sellerName">Име : {{ ad.contact_name }}</div>
                    <div id="sellerPhone">Телефон : {{ ad.phone }} </div>
                    <div id="addLocation">Местоположение : {{ ad.location }} </div>
                    <div id="devAction">Доставка : {{ ad.delivery_action }} </div>
                </div>
                {% if is_login %}
                    <div class="sellerInfo">
                        {% if is_save %}
                        <form  method="post"  action="/save_add" >
                            <button id="save" name="save_addbtn" value="{{ad.id}}">Запази обявата</button>
                        </a>
                        {% else %}
                        <div ><b>Обявата е запазена </b> !</div>
                        {% endif %}
                        {% if is_current_user_add %}
                        <div ><b>Обявата има {{ad.saves}} запазвания </b> !</div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}