
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    

</head>
<body>
    <div id="main-content">
        <div id="main">
            <!-- header -->
            <header>
                <div class="top">
                    <div class="container">
                        <div class="left">
                            <div class="mainLogo">
                                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
                            </div>
                            <div class="location">
                                <input type="text" placeholder="Location..">
                            </div>
                            <form method="POST" action="/search" class="search">
                                <div class="searchFieldDiv">
                                    <input type="text" name="search_query" placeholder="Search.." id="searchField">
                                </div>
                                <div class="searchBtnDiv">
                                    <button type="submit" id="searchBtn"><i class="fas fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="right">
                            {% block right_content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="container">
                        <div class="dropdown">
                            <a href="javascript:void(0)" id="browseCategories">Browse by Categories &nbsp; <i
                                    class="fas fa-angle-down"></i></a>
                            <div class="dropdownContent">
                                {% block category_content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>
</html>
