{% extends "index.html" %}

{% block  right_content %}
        <div class="signinBtnDiv">
            <form action="/to_login" class="dropdown">   
                    <button id="signinBtn" class="showSignoutBtnHover">Sign in</button>
            </form>
        </div>
        <form action="/to_login" class="sellBtnDiv">
            <button id="sellBtn">Sell</button>
        </form>
{% endblock %}

{% block addlist %}
    <ul id="adList">
        {% for ad in all_ads %}
            <li class="adItemL">
                <a href="{{ url_for('add_page',add_id=ad.id) }}">
                    <h3 class="adTitleL">{{ ad.title }}</h3>
                        <img class="adImageL" src="{{ url_for('static', filename='addpictures/' + ad.photo1) }}" alt="Обява 1">
                    <p class="adInfoL">Добавена на: {{ ad.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}



{% block category_content %}
<a href="{{ url_for('home') }}" >Всички категории</a>
<a href="{{ url_for('home', category='Недвижими имоти') }}" >Недвижими имоти</a>
<a href="{{ url_for('home', category='Електроника') }}" >Електроника</a>
<a href="{{ url_for('home', category='Превозни средства') }}" >Превозни средства</a>
<a href="{{ url_for('home',category ='Работа') }}" >Работа</a>
<a href="{{ url_for('home',category ='Спорт') }}" >Спорт</a>
<a href="{{ url_for('home', category='Облекло') }}" >Облекло</a>
{% endblock %}