{% extends "index.html" %}

{% block  right_content %}
        <div class="signinBtnDiv">
            <form action="/to_login" class="dropdown">   
                    <button id="signinBtn" class="showSignoutBtnHover">Sign in</button>
            </form>
        </div>
        <form action="/to_login" class="sellBtnDiv">
            <button id="sellBtn">Sell</button>
        </form>
{% endblock %}

{% block addlist %}
    {% include 'ad_list.html' %}
{% endblock %}

{% block category_title %}
    {% if message %}
        <h2 id="categoryHeading">{{message}}</h2>
    {% endif %}
{% endblock %}


{% block category_content %}
<a href="{{ url_for('home') }}" >Всички категории</a>
<a href="{{ url_for('home', category='Недвижими имоти') }}" >Недвижими имоти</a>
<a href="{{ url_for('home', category='Електроника') }}" >Електроника</a>
<a href="{{ url_for('home', category='Превозни средства') }}" >Превозни средства</a>
<a href="{{ url_for('home',category ='Работа') }}" >Работа</a>
<a href="{{ url_for('home',category ='Спорт') }}" >Спорт</a>
<a href="{{ url_for('home', category='Облекло') }}" >Облекло</a>
{% endblock %}