{% extends "base.html" %}

{% block content %}
    /header

    <!-- banner -->
    <div class="mainBanner" id="mainBanner">
        <img src="{{ url_for('static', filename='images/banner2.jpg') }}" alt="banner-image" id="mainBannerImg">
    </div>
    <!-- /banner -->



    <!-- top picks for you -->
    <div class="topPicks">
        <div class="container" id="topPicksContainer">
            <div class="heading">
                {% block category_title %}
                {% endblock %}
                <hr>
            </div>
            <div class="picks" id="picks">

            </div>
        </div>
    </div>
    {% block addlist %}
    {% endblock %}
    <!-- /top picks for you -->

    <!-- footer -->
    <footer>
        <div class="top">
            <div class="container">
                <div class="oneFifth">
                    <h3>Popular Categories</h3>
                    <a href="#">Cars</a><br>
                    <a href="#">Flats for rent</a><br>
                    <a href="#">Jobs</a><br>
                    <a href="#">Mobile Phones</a>
                </div>
                <div class="oneFifth">
                    <h3>Popular Searches</h3>
                    <a href="#">Bikes</a><br>
                    <a href="#">Watches</a><br>
                    <a href="#">Books</a><br>
                    <a href="#">Dogs</a>
                </div>
                <div class="oneFifth">
                    <h3>About us</h3>
                    <a href="#">About OLX Group</a><br>
                    <a href="#">OLX Blog</a><br>
                    <a href="#">Contact us </a><br>
                    <a href="#">Business Packages</a>
                </div>
                <div class="oneFifth">
                    <h3>Olx</h3>
                    <a href="#">Help</a><br>
                    <a href="#">Sitemap</a><br>
                </div>
                <div class="oneFifth footerSocial">
                    <h3>Find us here</h3>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <div class="left">
                    <span class="countries">
                        Change country:
                        <a href="#">South Africa</a>
                        <a href="#">India</a>
                        <a href="#">Kenya</a>
                        <a href="#">Ghana</a>
                    </span>
                </div>
                <div class="right">
                    <span class="copyrights">
                        Copyrights &copy; OLX, 2019.
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->
{% endblock %}

{% block category_content %}
{% endblock %}