{% extends "base.html" %}

{% block content %}
<div id="sellPopup">
    <div id="sellPopupContainer">
        <div class="closeSellPopupDiv">
            <a href="{{ url_for('user_page',user_name=session['username']) }}" id="backCategoryPopup"><i class="fas fa-arrow-left"></i></a>
            <a href="{{ url_for('user_page',user_name=session['username']) }}" id="closeSellPopup">&times;</a>
        </div>
        <div class="headingDiv">
            <span class="heading">Post Your Ad</span>
        </div>
        <form method="POST" action='/sell'>
            <label for="category">Категория:</label>
            <select class="sell_inp"  id="category" name="category" onchange="this.form.submit()">
                <option value="" {% if not selected_category %}selected{% endif %}>Избери категория</option>
                {% for category in categories %}
                    <option value="{{ category }}" {% if selected_category == category %}selected{% endif %}>{{ category }}</option>
                {% endfor %}
            </select>
            
            {% if selected_category %}
                <label for="subcategory">Подкатегория:</label>
                <select class="sell_inp"  id="subcategory" name="subcategory" onchange="this.form.submit()">
                    <option value="" {% if not selected_subcategory %}selected{% endif %}>Избери подкатегория</option>
                    {% for subcategory in subcategories[selected_category] %}
                        <option value="{{ subcategory }}" {% if selected_subcategory == subcategory %}selected{% endif %}>{{ subcategory }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        
        </form>

        {% if selected_category %}
        <form method="POST" action='/sell_action'>
            <label for="title">Заглавие*</label>
            <input class="sell_inp"  type="text" id="title" name="title" placeholder="Например: iPhone 11 с гаранция" required minlength="12" maxlength="70">

            <label for="photos">Снимки* </label>
            <input class="sell_inp"  type="file" id="photos" name="photo1" accept="image/*" required>

            <input class="sell_inp"  type="file" id="photo1" name="photo2" accept="image/*" required>

            <input class="sell_inp"  type="file" id="photo2" name="photo3" accept="image/*" required>
            
            <input class="hidden" type="text" name="subcategory" value="{{ selected_subcategory }}" required title="Моля изберете подкатегория">
            <input class="hidden" type="text" name="category" value="{{ selected_category }}" required>

            <input class="sell_inp"  type="phone" name="phone" placeholder="Добави телефон за връзка" >

            <label for="description">Описание*</label>
            <textarea id="description" name="description" placeholder="Напиши това, което ти се иска да прочетеш..." required minlength="40" maxlength="9000"></textarea>        
        
            <label for="price">Цена* </label>
            <input class="sell_inp"  type="text" id="price" name="price" placeholder="Добави цена в лв." required>
            
            <label for="condition">Състояние* </label>
            <select class="sell_inp" name="condition" required>
                {% for subcategory, option in {
                    'Ново': 'Ново',
                    'Използвано': 'Използвано',
                    'Използвано като ново': 'Използвано като ново',
                }.items() %}
                    <option value="{{ subcategory }}">{{ option }}</option>
                {% endfor %}
            </select>

            <label for="condition">От кой се поема доставката </label>
            <select class="sell_inp" name="delivery_action" required>
                {% for subcategory, option in {
                    'Купувача': 'Купувача',
                    'Продавача': 'Продавача',
                }.items() %}
                    <option value="{{ subcategory }}">{{ option }}</option>
                {% endfor %}
            </select>

            <label for="cities">Избери град:</label>
            <select id="cities" name="location">
                {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>

            {% if selected_subcategory == 'Компютри' %}
            <select class="sell_inp"  name="type_PC">
                <option value="laptop">Лаптоп</option>
                <option value="desktop">Настолен компютър</option>
            </select>
            {% endif %}
            
            {% if selected_subcategory == 'Таблети' %}
            <select class="sell_inp"  name="type_tablet">
                <option value="tablet">Таблет</option>
                <option value="reader">Електронен четец</option>
            </select>
            {% endif %}

            {% if selected_subcategory == 'Аудио техника' %}
            <select class="sell_inp"  name="type_audio" required>
                <option value="speakers">Тонколони и усилватели</option>
                <option value="headphones">Слушалки</option>
                <option value="accessories">Аксесоари</option>
            </select>
            {% endif %}
            
            {% if selected_subcategory == 'Домашна техника' %}
            <select class="sell_inp"  name="type_house_hold_appliance">
                <option value="coffee_machines">Кафе машини</option>
                <option value="vascular">Съдомиални</option>
                <option value="washing">Перални</option>
                <option value="slush">Слушилни</option>
                <option value="refrigerators">Хладилници</option>
                <option value="ovens">Печки</option>
            </select>
            {% endif %}

            {% if selected_subcategory == 'Телефони' %}
            <select class="sell_inp" name="Phones" required>
                {% for subcategory, option in {
                    'iphone': 'iPhone',
                    'samsung': 'Samsung',
                    'huawei': 'Huawei',
                    'xiaomi': 'Xiaomi',
                    'oneplus': 'OnePlus',
                    'google_pixel': 'Google Pixel',
                    'sony': 'Sony',
                    'lg': 'LG',
                    'motorola': 'Motorola',
                    'nokia': 'Nokia',
                }.items() %}
                    <option value="{{ subcategory }}">{{ option }}</option>
                {% endfor %}
            </select>
            {% endif %}

            
            {% if selected_subcategory == 'Телевизори' %}
            <input class="sell_inp"  name="inches" placeholder="Година на пройзводсвто" >
            {% endif %}

            {% if selected_subcategory == 'Дамско' %}
            <select class="sell_inp" name="women_clothing_type" required>
                {% for subcategory, option in {
                    'dresses': 'Рокли',
                    'blouses': 'Блузи',
                    'skirts': 'Поли',
                    'pants': 'Панталони',
                    'jackets': 'Якета',
                    'sweaters': 'Пуловери',
                    'suits': 'Костюми',
                    'lingerie': 'Дамско бельо',
                    'activewear': 'Спортно облекло',
                }.items() %}
                    <option value="{{ subcategory }}">{{ option }}</option>
                {% endfor %}
            </select>
            {% endif %}
            


            {% if selected_subcategory == 'Мъжко' %}
            <select class="sell_inp" name="men_clothing_type" required>
                {% for subcategory, option in {
                    'suits': 'Мъжки костюми',
                    'shirts': 'Ризи',
                    'pants': 'Панталони',
                    'jeans': 'Дънки',
                    'jackets': 'Якета',
                    'sweaters': 'Пуловери',
                    't-shirts': 'Тениски',
                    'shorts': 'Шорти',
                    'activewear': 'Спортно облекло',
                }.items() %}
                    <option value="{{ subcategory }}">{{ option }}</option>
                {% endfor %}
            </select>
            {% endif %}

            {% if selected_category == 'Превозни средства' %}
            <select class="sell_inp" name="vehicle_brand" required>
                {% for subcategory, option in  {
                    'audi': 'Audi',
                    'bmw': 'BMW',
                    'mercedes_benz': 'Mercedes-Benz',
                    'volkswagen': 'Volkswagen',
                    'toyota': 'Toyota',
                    'honda': 'Honda',
                    'ford': 'Ford',
                    'chevrolet': 'Chevrolet',
                    'nissan': 'Nissan',
                    'hyundai': 'Hyundai',
                }.items() %}
                    <option value="{{ subcategory }}">{{ option }}</option>
                {% endfor %}
            </select>
            <label for="year">Година на пройзводсвто:</label>
            <input class="sell_inp"  type="date" name="year"  required>
            <input class="sell_inp"  name="power" placeholder="Мощност">
            {% endif %}

            {% if selected_subcategory == 'Автомобили' %}
            <label for="coupe_type">Купе:</label>
            <select class="sell_inp" name="coupe_type" required>
                {% for subcategory, option in  {
                    'Двуврати': 'Двуврати',
                    'Триврати': 'Триврати',
                    'Четириврати': 'Четириврати',
                    'Кабрио': 'Кабрио',
                    'Голямо купе': 'Голямо купе',
                }.items() %}
                    <option value="{{ subcategory }}">{{ option }}</option>
                {% endfor %}
            </select>

            <label for="engine_type">Двигател:</label>
            <select class="sell_inp" name="engine_type" required>
                {% for subcategory, option in  {
                    'Бензинов': 'Бензинов',
                    'Дизелов': 'Дизелов',
                    'Хибриден': 'Хибриден',
                    'Електрически': 'Електрически',
                    'На природен газ': 'На природен газ',
                }.items() %}
                    <option value="{{ subcategory }}">{{ option }}</option>
                {% endfor %}
            </select>

            <label for="transmission_type">Трансмисия:</label>
            <select class="sell_inp" name="transmission_type" required>
                {% for subcategory, option in  {
                    'Автоматична': 'Автоматична',
                    'Ръчна': 'Ръчна',
                    'Полуавтоматична': 'Полуавтоматична',
                }.items() %}
                    <option value="{{ subcategory }}">{{ option }}</option>
                {% endfor %}
            </select>
            
            <input class="sell_inp"   name="car_model" placeholder="Модел" >
            {% endif %}

            {% if selected_subcategory == 'Мотоциклети' %}
            <label for="motorcycle_type">Тип:</label>
            <select class="sell_inp" name="motorcycle_type" required>
                {% for subcategory, option in {
                    'Туристически': 'Туристически',
                    'Спортен': 'Спортен',
                    'Крузър': 'Крузър',
                    'Ендуро': 'Ендуро',
                    'Скутер': 'Скутер',
                    'Чопър': 'Чопър',
                    'Къстъм': 'Къстъм',
                }.items() %}
                    <option value="{{ subcategory }}">{{ option }}</option>
                {% endfor %}
            </select>
            {% endif %}

            
            {% if selected_category == 'Работа' %}
            <select class="sell_inp" name="work_sector" required>
                {% for subcategory, option in {
                    'ИТ': 'ИТ',
                    'Финанси': 'Финанси',
                    'Здравеопазване': 'Здравеопазване',
                    'Образование': 'Образование',
                    'Производство': 'Производство',
                    'Търговия': 'Търговия',
                    'Маркетинг': 'Маркетинг',
                    'Хотелиерство и ресторантьорство': 'Хотелиерство и ресторантьорство',
                    'Строителство': 'Строителство',
                    'Транспорт и логистика': 'Транспорт и логистика',
                }.items() %}
                    <option value="{{ subcategory }}">{{ option }}</option>
                {% endfor %}
            </select>
                 <input class="sell_inp"  type="number"  name="salary" placeholder="Заплата" >
            {% endif %}

            {% if selected_subcategory == 'Велосипеди' %}
                <input class="sell_inp"  type="number"  name="wheels_inches" placeholder="Размер на гумите в инчове" >
            {% endif %}

            {% if selected_category == 'Недвижими имоти' %}
                <input class="sell_inp"  type="number"  name="square_meters" placeholder="Квадратура (кв.м)" >
                <input class="sell_inp"  type="date"  name="construction_year" placeholder="Година на построяване"  required>
        
                <select class="sell_inp" name="furnishing" required>
                    {% for subcategory, option in {
                        'fully_furnished': 'Напълно обзаведен',
                        'partially_furnished': 'Частично обзаведен',
                        'unfurnished': 'Необзаведен'
                    }.items() %}
                        <option value="{{ subcategory }}">{{ option }}</option>
                    {% endfor %}
                </select>

                <label for="heating">Вид отопление:</label>
                <select class="sell_inp" name="heating" required>
                    {% for subcategory, option in {
                        'Централно отопление': 'Централно отопление',
                        'Електрическо отопление': 'Електрическо отопление',
                        'Газово отопление': 'Газово отопление',
                        'Климатична инсталация': 'Климатична инсталация',
                        'Камин': 'Камин',
                        'Подово отопление': 'Подово отопление',
                        'Друг вид отопление': 'Друг вид отопление',
                    }.items() %}
                        <option value="{{ subcategory }}">{{ option }}</option>
                    {% endfor %}
                </select>

                <select class="sell_inp" name="sale_or_rent" required>
                    {% for subcategory, option in {
                        'sale': 'Продажба',
                        'rent': 'Наем',
                    }.items() %}
                        <option value="{{ subcategory }}">{{ option }}</option>
                    {% endfor %}
                </select>
                {% endif %}

                {% if selected_subcategory == 'Апартаменти' %}
                    <label for="sale_or_rent">Вид апартамент:</label>
                    <select class="sell_inp" name="apartment_type" required>
                        {% for subcategory, option in {
                            'studio': 'Студио',
                            'one_bedroom': 'Едностаен',
                            'two_bedroom': 'Двустаен',
                            'three_bedroom': 'Тристаен',
                            'penthouse': 'Пентхаус',
                            'garsionier': 'Гарсиониера',
                        }.items() %}
                            <option value="{{ subcategory }}">{{ option }}</option>
                        {% endfor %}
                    </select>  
                    <input class="sell_inp"  type="number"  name="floor" placeholder="На кой етаж" > 
                {% endif %}

                {% if selected_category == 'Спорт' %}
                <label for="sale_or_rent">Вид спорт:</label>
                <select class="sell_inp" name="sport_type" required>
                    {% for subcategory, option in {
                        'football': 'Футбол',
                        'basketball': 'Баскетбол',
                        'tennis': 'Тенис',
                        'table_tennis': 'Масов тенис',
                        'volleyball': 'Волейбол',
                        'handball': 'Ръгби',
                        'swimming': 'Плуване',
                        'cycling': 'Колоездене',
                        'boxing': 'Бокс'
                    }.items() %}
                        <option value="{{ subcategory }}">{{ option }}</option>
                    {% endfor %}
                </select> 
                {% endif %}

                {% if selected_subcategory == 'Къщи' %}
                    <input class="sell_inp"  type="number"  name="house_height" placeholder="Брой етажи" >
                {% endif %}
            <input  type="submit" value="Публикувай обява">
            
        </form>
        {% endif %}
    </div>
</div>
{% if message %}>
<h5  id=mesage>{{ message }}</h5>
{% endif %}
{% endblock %} 