{% extends "index.html" %}

{% block  right_content %}
        <div class="signinBtnDiv">
            <div class="dropdown">
                <button id="signinBtn" class="showSignoutBtnHover">{{session['username']}}</button>
                <div class="dropdownContent" id="dropdownContent">
                    <a href="{{ url_for('user_page', category='user_ads') }}" id="myAds">Моите обяви</a>
                    <a href="{{ url_for('user_page', category='favorite_user_ads') }}" id="favorites">Любими обяви</a>
                    <a href="{{ url_for('logout') }}" id="signoutBtn">Излез от профиля</a>
                </div>
            </div>
        </div>
        <form action="/to_sell" class="sellBtnDiv">
            <button id="sellBtn">Продай</button>
        </form>
{% endblock %}

{% block category_title %}
    {% if message %}
        <h2 id="categoryHeading">{{message}}</h2>
    {% endif %}
    <div id="filterPopupContainer">
    <form method="POST" action='/filter'>
        {% if not is_filtered %}
            {% if selected_category %}
            <label for="subcategory">Подкатегория:</label>
            <select class="sell_inp"  id="subcategory" name="subcategory">
                <option value="not_selected" {% if not selected_subcategory %}selected{% endif %}>Избери подкатегория</option>
                {% for subcategory in subcategories[selected_category] %}
                    <option value="{{ subcategory }}" {% if selected_subcategory == subcategory %}selected{% endif %}>{{ subcategory }}</option>
                {% endfor %}
            </select>
            {% endif %}
                {% if message != 'Вашите любими обяви'  and message != 'Вашите обяви' %}
                    <input class="sell_inp"  type="text" id="price" name="max_price" placeholder="Максимална цена.">  
                    <label for="cities">Избери град:</label>
                    <select id="cities" name="location">
                        <option value="default">Избери къде</option>
                        {% for city in cities %}
                            <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>  
                    <button id="sellBtn" type="submit" name="category_selected" value="{{message}}">Приложи</button>
        {% endif %}
        {% endif %}
    </form>
    {% if is_filtered %}
    <form method="POST" action='/clear_filters'>
        <button id="sellBtn" type="submit" name="get_subcategory" value='clear' >Изчисти филтрите</button>
    </form>
    {% endif %}
    </div>

{% endblock %}

{% block addlist %}
    {% include 'ad_list.html' %}
{% endblock %}


{% block category_content %}
<a href="{{ url_for('user_page') }}" >Всички категории</a>
<a href="{{ url_for('user_page', category='Недвижими имоти') }}" >Недвижими имоти</a>
<a href="{{ url_for('user_page', category='Електроника') }}" >Електроника</a>
<a href="{{ url_for('user_page', category='Превозни средства') }}" >Превозни средства</a>
<a href="{{ url_for('user_page',category ='Работа') }}" >Работа</a>
<a href="{{ url_for('user_page',category ='Спорт') }}" >Спорт</a>
<a href="{{ url_for('user_page', category='Облекло') }}" >Облекло</a>
{% endblock %}

