{% extends "index.html" %}

{% block  right_content %}
        <div class="signinBtnDiv">
            <div class="dropdown">
                <button id="signinBtn" class="showSignoutBtnHover">{{session['username']}}</button>
                <div class="dropdownContent" id="dropdownContent">
                    <a href="{{ url_for('user_page', category='user_ads') }}" id="myAds">My Ads</a>
                    <a href="{{ url_for('user_page', category='favorite_user_ads') }}" id="favorites">Favorites</a>
                    <a href="{{ url_for('logout') }}" id="signoutBtn">Sign out</a>
                </div>
            </div>
        </div>
        <form action="/to_sell" class="sellBtnDiv">
            <button id="sellBtn">Sell</button>
        </form>
{% endblock %}
{% block addlist %}
    <ul id="adList">
        {% for ad in all_ads %}
            <li class="adItemL">
                <a href="{{ url_for('add_page', add_id=ad.id) }}">
                    <h3 class="adTitleL">{{ ad.title }}</h3>
                        <img class="adImageL" src="{{ url_for('static', filename='addpictures/' + ad.photo1) }}" alt="Обява 1">
                    <p class="adInfoL">Добавена на: {{ ad.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                </a>
            </li>
        {% endfor %}
        <!-- Добавете други обяви по същия начин -->
    </ul>
{% endblock %}


{% block category_content %}
<a href="{{ url_for('user_page') }}" >Всички категории</a>
<a href="{{ url_for('user_page', category='Недвижими имоти') }}" >Недвижими имоти</a>
<a href="{{ url_for('user_page', category='Електроника') }}" >Електроника</a>
<a href="{{ url_for('user_page', category='Превозни средства') }}" >Превозни средства</a>
<a href="{{ url_for('user_page',category ='Работа') }}" >Работа</a>
<a href="{{ url_for('user_page',category ='Спорт') }}" >Спорт</a>
<a href="{{ url_for('user_page', category='Облекло') }}" >Облекло</a>
{% endblock %}

{% block category_title %}
    {% if category_title %}
        <h2 id="categoryHeading">{{category_title}}</h2>
    {% endif %}
{% endblock %}